.cadastro{
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

h1{
    color: rgb(165, 80, 80);
}

.form-control{
    padding: 10px;
}

.btnEviar{
    padding: 10px 40px;
    margin: 5%;
    background-color: rgb(165, 80, 80);
}

input{
    border-radius: 10px;
    border: 1px solid rgb(165, 80, 80);
    padding: 5px;
    outline: none;
}

label{
    margin-right: 3px;
}